img:hover {
    opacity: 1;
    transform: rotate3d(1, 1, 2, 3deg);
    scale: 1.1;
    transition: 0.5s;
}

img {
    opacity: 0.8;
}

h3 {
    margin-top: 100px;
}

p {
    text-align: justify;
}

.img-fluid {
    transition: transform 0.3s ease;
    position: relative; /* Ajoutez une position relative pour manipuler z-index */
    z-index: 1; /* Définissez un z-index par défaut */
}

.img-fluid:hover {
    transform: scale(1.5); /* Vous pouvez ajuster la valeur pour l'effet d'agrandissement souhaité */
    z-index: 2; /* Placez l'image agrandie au-dessus des autres */
}