html {
    margin-bottom: 100px;
}

img.elbigy:hover {
    opacity: 1;
    transform: rotate3d(1, 1, 2, 3deg);
    scale: 1.05;
    transition: 1s;
}

img {
    opacity: 0.8;
}

h3 {
    margin-top: 100px;
}

p {
    text-align: justify;
}

hr#hrsep {
    margin: 60px 0 60px 0;
}

hr#hrsep2 {
    margin: 60px 0 60px 0;
}

.img-fluid {
    transition: transform 1s ease;
    position: relative; /* Ajoutez une position relative pour manipuler z-index */
    z-index: 1; /* Définissez un z-index par défaut */
}

.img-fluid.elbigy:hover {
    transform: scale(1.2); /* Vous pouvez ajuster la valeur pour l'effet d'agrandissement souhaité */
    z-index: 2; /* Placez l'image agrandie au-dessus des autres */
    opacity: 1;
}

.bingobiss {
    border-radius: 50%;
    margin-right: 20px;
    float: left;
    shape-outside: margin-box;
}

#mes_realisations {
    padding-bottom: 30px;
}

nav.navdown {
    font-size: 1.5rem;
}

a.site {
    margin-left: 30px;
}

.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
  }
  .scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
  }

  .elbigy.pics100 {
    width: 100%;
    height: 180px;
    object-fit: cover;
}


@media (max-width: 576px) {
    .img-fluid.elbigy {
        height: 290px;
        max-width: 75%;
    }
}



